$light: #e6f1ff;
$primary: #63b3ed;
$wire-primary: #464646;
$secondary: #0a192f;
$light-secondary: #172a45;
$lightness-secondary: #303c55;
$slate: #8892b0;
$light-slate: #a8b2d1;
$lightness-slate: #ccd6f6;
