.wrapper {
  padding-top: 80px;
  min-height: 800px;

  @media (min-height: 810px) {
    min-height: 100vh;
  }
}

$spacing: 15% #{!important};
$pt-screen-md: 1.5rem;
@screen min-md {
  .wrapper {
    padding: {
      left: $spacing;
      right: $spacing;
    }
    .side-layout {
      padding-top: $pt-screen-md;
      display: flex #{!important};

      &-left {
        width: $spacing;

        &__top {
          @apply w-full  h-full;
        }

        &__middle {
          @apply w-full flex justify-center items-center h-full mb-4;

          & > a {
            font-size: 14px;
            transform: rotate(-90deg);
            @apply text-slate;
          }
        }

        &__bottom {
          $height: 120px;
          height: $height;
          @apply relative  w-full flex justify-center items-center;

          &::before {
            content: "";
            @apply border-yellow-400  w-full h-full;
          }

          &::after {
            content: "";
            height: 100%;
            width: 1px;

            z-index: 50;
            position: absolute #{!important};
            @apply bg-slate;
          }
        }
      }

      &-right {
        width: $spacing;
        @apply right-0;
      }
    }
  }
}
