.header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 7000;
  background-color: rgba($secondary, $alpha: 0.8);
  &.scroll {
    box-shadow: 0 5px 0.3rem darken(rgba($secondary, $alpha: 0.3), $amount: 10);
  }
}

@screen min-md {
  .header {
    & > .header-side {
      width: 10%;
    }
  }
}
